@model WebProgrammingAflevering.Models.ViewModels.AddPostViewModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add a new post here</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="title" asp-for="Title" class="control-label"></label>
                <input id="title" asp-for="Title" class="form-control" />
                <span id="title-error-message" for="title" asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="picture" asp-for="Picture" class="control-label"></label>
                <input id="picture" asp-for="Picture" class="form-control"/>
                <span id="picture-error-message" for="picture" asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="description" asp-for="Description" class="control-label"></label>
                <input id="description" asp-for="Description" class="form-control" />
                <span id="description-error-message" for="description" asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

@section Scripts {
    <script src="/js/RegExPicture.js" asp-append-version="true"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
