@model IEnumerable<WebProgrammingAflevering.Models.Entities.Post>

@{
    ViewData["Title"] = "Posts";
}


@foreach (var item in Model) 
{
    <div class="center">
        <h3 class="title">
            @Html.DisplayFor(modelItem => item.Title)
        </h3>
            <img class="posts" src="~/Images/@item.Picture"/>
        <p class="discription">
            @Html.DisplayFor(modelItem => item.Description)
        </p>
    </div>
}
