@{
    ViewData["Title"] = "Login Page";
}

@model WebProgrammingAflevering.Models.ViewModels.AddUserViewModel

<div class="text-left">
    <h1 class="display-4">Login</h1>


    <form method="post">

        <div class="mt-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" asp-for="Email"/>
        </div>

        <div class="mt-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" asp-for="Password"/>
        </div>


        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>

    </form>


    <div class="mt-3">
        <a type="button" class="nav-link text-blue" asp-area="" asp-controller="Login" asp-action="Register">Register user</a>
    </div>
</div>